@{
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Подключение к базе данных</h2>

<form style="margin-top: 50px;" method="POST">
  <div class="form-group">
    <label for="connString">Строка подключения</label>
    <br>
    <br>
    <input type="text" class="form-control" id="connString" name="connString" placeholder="Введите строку подключения">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Подключиться</button>
</form>
