@using ClassLibrary
@model Error

@{
   ViewData["Title"] = "Ошибка";   
}

<h1 style="color: red;">Ошибка.</h1>
<h2 style="color: red;">Произошла ошибка при обработке вашего запроса.</h2>
<p>
    <strong>
        Произошла ошибка, обратитесь к разработчику.
    </strong>
</p>