@using ClassLibrary
@model Error

@{
   ViewData["Title"] = "Ошибка";   
   Layout = "_Layout.cshtml";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>
<p>
    <strong>
        Произошла ошибка, обратитесь к разработчику.
    </strong>
</p>